html {
    scroll-behavior: smooth;
}

body {
    background: rgb(21, 20, 20);
    font-family: "Baloo Tamma 2", cursive;
}

.m-heading {
    font-family: "Roboto Slab", serif;
}

.navigation-link {
    border: 2px solid transparent;
}

.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid orange;
    transition: 0.5s ease;
}

#sol1 {
    background-image: url(sols.webp);
    background-size: cover;
    background-position: center;
    min-height: 10vh;
    min-width: 100vw;
    padding-top: 70px;
}
#sol2{
    background-image: url(sols2.avif);
    background-size: cover;
    background-position: center;
    min-height: 10vh;
    min-width: 100vw;
    padding-top: 70px;
}